$darkGray: #343a40;
$lightGray: #6c757d;


.imgGleft{
    margin-right: 10px;
    margin-bottom: 20px;  
    float: left;
}



.imgGright{
    margin-right: 10px;
    margin-bottom: 20px;  
    float: right;
}


body{
	font-family:Verdana,Arial,sans-serif;
}
 
#text{
	color: $lightGray;
	margin:30px;
	padding:10px;
    background-color: $darkGray;
    text-align:left;
    height:220px;
}

#text:hover{
	color:white;
	margin:30px;
	padding:10px;
	background-color: $darkGray;
}

.navbar .navbar-brand{
	font-size: 30px !important;
}

.navbar{
	font-size: 24px !important;
	opacity:.95;
}


#link{
	color: lightblue;
}

#link:hover{
	color:deepskyblue;
}







.txtInput{
    width: 300px;
    text-align: center;
    margin-left: 510px;
    color: $lightGray;
    background-color: $darkGray;
}

.txtInput:hover{
    color: lightblue;
}







.searchBtn{
    color: $lightGray;
    background-color: $darkGray;
    margin-block-end: 50%;
}


.searchBtn:hover{
    color: lightblue;
}